/**
 * Object.keys正则实现
 * @param obj
 * @returns {*[]}
 */
function objectKeys(obj) {
  var str = JSON.stringify(obj)
  var reg = getRegExp('\"(.+?)\":', "g")
  var keys = []

  var matchArray = str.match(reg)
  for (var i = 0; i < matchArray.length; i++) {
    var arr = matchArray[i].split('":')[0].split('"')
    var key = arr[arr.length - 1]
    keys.push(key)
  }

  return keys
}

function getHighestPoint(pointObj) {
  var highestPoint = -10000
  var keys = objectKeys(pointObj)
  for (var i = 0; i < keys.length; i++) {
    if (pointObj[keys[i]] > highestPoint) {
      highestPoint = pointObj[keys[i]]
    }
  }
  return highestPoint
}

module.exports = {
  getHighestPoint: getHighestPoint,
  objectKeys: objectKeys
}
